plugins {
  id 'nf-schema@2.7.2'
}


params {
    genome_version   = "GRCh38"
    //vcf_samplefile   = ""
    impute           = false
    mocha_resources  = "/home/clarkb/images/mocha/resources"
    beagle_resources = "${projectDir}/resources/GRCh38/beagle/"
}




profiles {
    apptainer {
        apptainer.enabled = true
        process{
            withName: 'filterVCF' {
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }
            withName: 'mocha' {
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
                cpus = 16
            }

            withName: 'filterOutput' {
                container = "docker://ghcr.io/jacquemontlab/python-polars:sha-0aaaf4c"
            }

            withName: 'phase' {
                memory = '100G'
                cpus = 16
                container =  "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withLabel: 'genomics'{
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName: 'index'{
                container = "docker://biocontainers/samtools:v1.9-4-deb_cv1"
            }
            withName: 'buildBref3'{
                maxForks = 4 
            }
        }
    }
}
