plugins {
  id 'nf-schema@2.7.2'
}


params {
    genome_version   = "GRCh38"
    vcf_samplefile   = ""
    impute           = false
    mocha_resources  = "${projectDir}/resources/GRCh38/mocha/"
    beagle_resources = "${projectDir}/resources/GRCh38/beagle/"
    dataset_name     = "TEST"
}




profiles {
    apptainer {
        apptainer.enabled = true
        process{
            withName: 'filterVCF' {
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName : 'normalizeNames'{
            container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName: 'mocha' {
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName: 'mergeChromosomes' {
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName: 'filterOutput' {
                container = "docker://ghcr.io/jacquemontlab/python-polars:sha-0aaaf4c"
            }

            withName: 'phase' {
                container =  "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withLabel: 'genomics'{
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }

            withName: 'index'{
                container = "docker://biocontainers/samtools:v1.9-4-deb_cv1"
            }
            
            withName: 'buildBref3'{
                container = "docker://ghcr.io/jacquemontlab/bcftools-mocha:sha-0aaaf4c"
            }
        }
    }
}
