plugins {
  id 'nf-schema@2.7.2'
}


params {
    genome_version   = "GRCh38"
    //vcf_samplefile   = ""
    impute           = false
    mocha_resources  = "/home/clarkb/images/mocha/resources"
    beagle_resources = "${projectDir}/resources/GRCh38/beagle/"
}

apptainer.enabled = true
conda.enabled = true

process{
    withName: 'filterVCF' {
        container = "/home/clarkb/images/mocha/mocha.sif"
    }
    withName: 'mocha' {
        container = "/home/clarkb/images/mocha/mocha.sif"
        cpus = 16
    }
    withName: 'phase' {
        memory = '100G'
        cpus = 16
    }
}